* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

// h1 {
// 	font-size: 300px;
// 	text-align: center;
// 	color: fuchsia;
// }

body {
  padding: 50px;
	background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF);
	background: linear-gradient(to left, #2C3E50 , #4CA1AF);
  font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	color: #f46b45;
	text-shadow: 7px 7px 7px rgba(1,1,1,0.7);
}
.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 4px solid #FFF;
}
.to-do-container{
	list-style-type: none;


}
.todoListMain .header button:hover {
  padding: 10px;
  font-size: 25px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 4px solid #0066FF;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 4px solid #003399;
  cursor: pointer;
}
